body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../Imagens/154298-blue-yellow-and-white-background.jpg');
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: 3000px;
  }
  
  
  .navbar {
    overflow: hidden;
    background-color: rgb(176, 219, 230);
    border-radius: 25px;
    
  }
  
  
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(5, 1, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(2, 1, 1);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(206, 163, 163);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: 50px;
  }
  
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }

    .center2 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
    }

    .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
      }
      
      .btn:hover {
        background-color: RoyalBlue;
      }

     /* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    padding: 20px 10px;
    border-radius: 25px;
  }

  .headerSim {
    overflow: hidden;
    background-color: rgb(95, 131, 248);
    padding: 20px 10px;
    border-radius: 25px;
    margin-right: 900px;
  }
  

  .headerSim2 {
    overflow: hidden;
    background-color: rgb(186, 202, 252);
    padding: 5px 5px 5px 15px;
    border-radius: 25px;
    
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 25px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: rgb(95, 131, 248);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }


  