body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quadrado {
    background: lightblue;
    width: 50px;
    height: 50px;
    animation: go-back 1s;
  }
  
  @keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  } 